<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= car.make %></title>
  </head>
  <body>
    <h1><%= car.make %> <%= car.model %> <%= car.year %></h1>
    <% if (car.isYourFavoriteCar) { %>
      <p>This car is your favorite car!</p>
    <% } else { %>
      <p>This car is okay, but not your favorite.</p>
    <% } %>

    <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= car.make %> <%= car.model %> <%= car.year %></button>
    </form>
    <!-- Add more details about the fruit here -->
    <a href="/cars/<%= car._id %>/edit">Edit Car</a>
    <a href="/">Home Page</a>
    <a href="/cars/">Back to Cars</a>
    <a href="/cars/new">Add New Car</a>
  </body>
</html>